<ng-container [ngSwitch]="state|async">

<ng-container *ngSwitchCase="stateType.SET_NAME">
    <mat-card>
    <mat-card-content>
        <form class="configrow" [formGroup]="nameForm" (ngSubmit)="updateName()">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="name">
                <mat-error>Name cannot be empty</mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateName()">Save</button>
        </form>
    </mat-card-content>
    </mat-card>
</ng-container>

<ng-container *ngSwitchCase="stateType.LOAD_RID">
    <app-spinner></app-spinner>
</ng-container>

<ng-container *ngSwitchCase="stateType.SHOW_CONFIG">
    <mat-card *ngIf="currConfig | async as config">
    <mat-card-content>
        <p>Welcome <span class="importantInfo">{{config.name}}</span>!</p>
        <p>You will be driving <span class="importantInfo">Robot {{config.robotId}}</span>.</p>

        <div id="actions">
            <button mat-stroked-button (click)="resetConfig()">Clear Config</button>
            <a routerLink='/planner' mat-raised-button color="accent">Start driving</a>
        </div>
    </mat-card-content>
    </mat-card>
</ng-container>
</ng-container>
