<mat-toolbar color="primary">
  <div id="toolbar-container">
    <div id="app-title">Marsbot Challenge</div>
    <div id="user-info" *ngIf="userWithRobot|async as userRobot">
      <span id="user-name">{{userRobot.user.name}}</span>
      &#8211;
      <span id="user-robot">Robot {{userRobot.robotId}}</span></div>
  </div>
</mat-toolbar>

<div id="mainPage">
  <ng-container [ngSwitch]="state|async">
    <app-welcome *ngSwitchCase="stateType.NEW_USER"></app-welcome>
    <app-game-start *ngSwitchCase="stateType.WAIT_FOR_GAME"></app-game-start>
    <app-planner *ngSwitchCase="stateType.PLANNING"></app-planner>
    <app-game-end *ngSwitchCase="stateType.END_OF_GAME"></app-game-end>
    <app-error *ngSwitchCase="stateType.ERROR"></app-error>
    <div *ngSwitchDefault>Unknown state</div>
  </ng-container>
</div>
