$pageWidth: 740px;

#mainPage {
    max-width: $pageWidth;
    margin: auto;

    padding: 10px;
}
#toolbar-container {
    width: 100%;
    max-width: $pageWidth;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#app-title {
    font-weight: 400;
}


